node_modules
.env

# Recursive generated folders
**/node_modules/
**/target/
**/cache/
**/artifacts/
**/typechain/
**/typechain-types/
**/coverage/
**/ignition/deployments/
**/.papi/

# Large local binaries (do not commit)
**/bin/polkadot-parachain
**/bin/eth-rpc
